$gray: #a5a0a0;

$colors: (
  black: (
    base: rgba(16, 15, 15, 0.81),
  ),
  white: (
    base: rgb(245, 245, 245),
  ),
  grey: (
    base: rgb(189, 189, 189),
    900: #232226,
    800: #2f2d32,
  ),
  blue: (
    base: rgb(0, 123, 255),
    900: #232226,
    800: #2f2d32,
  ),
  test: (
    base: rgb(255, 25, 223),
  ),
);

@function color($color, $tone: "base") {
  @return map-get(map_get($colors, $color), $tone);
}

// body {
//   //background: color(grey, 900);
//   //background: rgba(color(grey, 900), 0.5);
// }
