@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

body p {
  font-family: "Merriweather", serif;
  font-size: 16px;
}

body h1 {
  font-family: "Merriweather", serif;
}

body h4 {
  font-family: "Merriweather", serif;
}

body h5 {
  font-family: "Merriweather", serif;
}
