@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body p {
  font-family: "Merriweather", serif;
  font-size: 16px;
}

body h1 {
  font-family: "Merriweather", serif;
  //  t-size: 16px; fon
}

body h4 {
  font-family: "Merriweather", serif;
  //  t-size: 16px; fon
}

body h5 {
  font-family: "Merriweather", serif;
  //  t-size: 16px; fon
}
