@import "../base/_defaults";

.footer__first_block {
  background-color: color(gray);
  border-top: 2px solid color(black);
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-top: 15px;
}

.footer__first_block p {
  text-align: center;
  margin-top: 15px;
}

.footer__second_block {
  background-color: color(gray);
}

.footer__third_block {
  background-color: color(black);
  color: color(gray);
  text-align: center;
}

.footer__third_block p {
  margin-top: 10px;
  text-decoration: none;
}

input {
  margin-bottom: 10px;
  font-size: 15px;
  padding: 8px;
  font-family: monospace;
}

@media screen and (max-width: 610px) {
  .col-sm {
    margin-bottom: 20px;
    text-align: center;
  }
  .btn {
    margin-bottom: 15px;
  }
}

img {
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer__link {
  text-decoration: none !important;
}

.footer__link:hover {
  color: whitesmoke;
}

.footer__button__newsletter {
  border: solid black;
  padding: 6px;
}

.col-sm {
  text-align: center;
}

.footer_button {
  background-color: color(black);
  border-color: color(black);
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 20px;
  color: whitesmoke;
}
