@import "../base/_defaults";

.footer__backgroundcolor__top {
  background-color: color(gray);
  border-top: 2px solid color(black);
}

.footer__backgroundcolor__top p {
  text-align: center;
  margin-top: 15px;
}

.footer__backgroundcolor__middle {
  background-color: color(gray);
}

.footer__backgroundcolor__bottom {
  background-color: color(black);
  color: color(gray);
  text-align: center;
}

.footer__backgroundcolor__bottom p {
  margin-top: 10px;
  text-decoration: none;
}

input {
  margin-bottom: 10px;
  font-size: 15px;
  padding: 8px;
  font-family: monospace;
}

// #emailstyle {
//   background-color: color(white);
//   border-top: 3px solid #bdbdbd;
//   border-bottom: 3px solid #bdbdbd;
//   border-left: 3px solid #bdbdbd;
//   border-right: 3px solid #bdbdbd;

//   border-radius: 5px;
//   width: 80%;
//   margin-right: 3px;
// }

// #emailstyle[type="email"]:focus {
//   border: 4px solid #027bff;
// }

// #buttonstyle {
//   background-color: rgba(16, 15, 15, 0.81);
//   border: 3px solid #bdbdbd;
//   border-radius: 5px;
//   color: white;
//   width: 80%;
// }

// .secondLine {
//   background-color: #bdbdbd;
// }

img {
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer__link {
  text-decoration: none !important;
}

.footer__link:hover {
  color: whitesmoke;
}
