@import "../base/_defaults";

.footer__first_block {
  background-color: color(gray);
  border-top: 2px solid color(black);
  margin-top: 15px;
}

.footer__first_block p {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}

.footer__second_block {
  background-color: color(gray);
}

.footer__third_block {
  background-color: color(black);
  color: color(gray);
  text-align: center;
}

.footer__third_block p {
  margin-top: 15px;
  text-decoration: none;
}

input {
  margin-bottom: 10px;
  font-size: 15px;
  padding: 8px;
  font-family: monospace;
}

@media screen and (max-width: 610px) {
  .col-sm {
    margin-bottom: 20px;
  }
  .btn {
    margin-bottom: 15px;
  }
}

img {
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer__link {
  text-decoration: none !important;
}

.col-sm {
  text-align: center;
}

.footer__button {
  background-color: color(black);
  border-color: color(black);
  padding: 7px 60px;
  border-radius: 20px;
  color: whitesmoke;
}

.footer__button-feliratkozas__modal__button {
  background-color: color(black);
  border: 2px solid color(black);
  padding: 8px;
}

.feliratkozas__inputfield {
  border: 2px solid color(gray);
}

.footer {
  svg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    fill: color(black, pure) fill-opacity= "0.81";
  }

  svg:hover {
    fill: color(blue);
  }
}
