@import "../base/_defaults";

.index__text_background {
  background: color(gray, secondary);
  //   font-size: 30px;
  display: inline;
  //   color: white;
  line-height: 46px;
  padding: 12px 18px;
  box-decoration-break: clone;
}

.index__leadText {
  font-size: 22px;
}

.index__same-line h3,
.index__same-line p {
  display: inline;
}

@media screen and (max-width: 992px) {
  .index__button__padding-top {
    margin-top: 15px;
  }
}

@media screen and (max-width: 760px) {
  .index__button__padding-top {
    margin-top: 0px !important;
  }
}
