@import "../base/_defaults";

.index__text_background {
  background: color(gray, secondary);
  //   font-size: 30px;
  display: inline;
  //   color: white;
  line-height: 46px;
  padding: 8px 16px;
  box-decoration-break: clone;
}
