@import "../base/_defaults";

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar a:not(.btn) {
  font-family: monospace;
  color: color(black, pure) !important;
  // color: black !important;
}

.btn {
  font-family: monospace;
  border-radius: 0.5rem;
}

#BrandNameFont {
  font-family: monospace;
  font-size: 1.2em !important;
  color: color(black, pure);
}

.ml-auto a {
  font-size: 1.1em !important;
  color: color(black, pure) !important;
  font-family: monospace;
}
.navbar a:hover:not(.btn) {
  color: color(blue) !important;
}

#basic-nav-tamogatas-item {
  color: rgb(53, 50, 50) !important;
}

#basic-nav-tamogatas-item:hover {
  color: color(blue) !important;
}

#basic-nav-tamogatas:hover {
  color: color(blue) !important;
}

.color-nav {
  background-color: color(gray);
  opacity: 0.9;
}

@media screen and (max-width: 610px) {
  #BrandNameFont {
    font-size: 1em !important;
  }
}

@media screen and (max-width: 460px) {
  #BrandNameFont {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .nav-item {
    margin-bottom: 20px;
  }
  .navbar-nav {
    font-size: 1.2em !important;
  }
}

#nyolcag {
  display: none;
}

@media screen and (max-width: 460px) {
  #nyolcag {
    display: inline;
    font-size: 1.3em !important;
    color: color(black, pure) !important;
    font-family: monospace;
  }
}

.navbar-toggler {
  // border: solid color(black) 2px;
  // border-color: #5d5d5f !important;
  border: none;
}

.navbarpad {
  padding: 0 15px;
}

.navbar-nav a {
  margin-right: 15px;
  text-decoration: none;
}

.navbar-nav {
  //   margin-right: 15px;
  margin-left: auto !important;
  align-items: center;
}
